{%extends 'stock_app/base.html' %} {%load static%} {%block content%} {% load humanize %}
<html>
	<head>

		<title>{{ticker}} Chart</title>

		<!-- Fix for iOS Safari zooming bug -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

		<script src="{% static 'javascript/charting_library/charting_library.js' %}"></script>
		<script src="{% static 'javascript/datafeeds/udf/dist/bundle.js' %}"></script>	

	</head>

	<body style="margin:0px;">
		<div id="tv_chart_container"></div>
	</body>

	<script type="text/javascript">
		const supportedResolutions = ['1D', '1W', '1M'];

		const config = {
			supported_resolutions: supportedResolutions
		}; 

		const history = {};

		var datas = [];		

		var historyProvider = (function () {
			return ({
				history: history,
				getBars: function(symbolInfo, resolution, from, to, first) {
					{%for stock in stocks %}
						var tmp = {
							time: new Date("{{stock.date}}").getTime(),
							low: "{{stock.low}}",
							high: "{{stock.high}}",
							open: "{{stock.open}}",
							close: "{{stock.price}}",
							volume: "{{stock.volume}}"
						};
						datas.push(tmp);
					{% endfor %}
					return datas;
				}
			});
		})();

		var Datafeed = (function(){
			return ({
				onReady: cb => {
					setTimeout(() => cb(config), 0)					
				},
				searchSymbols: (userInput, exchange, symbolType, onResultReadyCallback) => {
					console.log('====Search Symbols running')
				},
				resolveSymbol: (symbolName, onSymbolResolvedCallback, onResolveErrorCallback) => {
					// expects a symbolInfo object in response
					console.log('======resolveSymbol running')
					// console.log('resolveSymbol:',{symbolName})
					var split_data = symbolName.split(/[:/]/)
					// console.log({split_data})
					var symbol_stub = {
						name: symbolName,
						description: '',
						type: 'stock',
						timezone: 'Etc/UTC',
						ticker: symbolName,
						exchange: split_data[0],
						minmov: 1,
						pricescale: 1,
						has_intraday: false,
						has_no_volume: true,
        				has_weekly_and_monthly: false,
						supported_resolution:  supportedResolutions,
						volume_precision: 2,
						data_status: 'streaming',
					}
			
					//if (split_data[2].match(/USD|EUR|JPY|AUD|GBP|KRW|CNY/)) {
						//symbol_stub.pricescale = 100
					//}
					setTimeout(function() {
						onSymbolResolvedCallback(symbol_stub)
						console.log('Resolving that symbol....', symbol_stub)
					}, 0)			
					
					// onResolveErrorCallback('Not feeling it today')
			
				},
				getBars: function(symbolInfo, resolution, periodParams, onHistoryCallback, onErrorCallback) {
					console.log('=====getBars running')
					const { from, to, firstDataRequest } = periodParams;
					// console.log('function args',arguments)
					// console.log(`Requesting bars between ${new Date(from * 1000).toISOString()} and ${new Date(to * 1000).toISOString()}`)
					/*historyProvider.getBars(symbolInfo, resolution, from, to, firstDataRequest)
					.then(bars => {
						if (bars.length) {
							onHistoryCallback(bars, {noData: false})
						} else {
							onHistoryCallback(bars, {noData: true})
						}
					}).catch(err => {
						console.log({err})
						onErrorCallback(err)
					})*/
					{%for stock in stocks %}
						var tmp = {
							time: new Date("{{stock.date}}").getTime() / 1000,
							low: "{{stock.low}}",
							high: "{{stock.high}}",
							open: "{{stock.open}}",
							close: "{{stock.price}}"
						};
						datas.push(tmp);
					{% endfor %}

					let bars = [];
					datas.forEach(bar => {
						if (bar.time >= from && bar.time < to) {
							bars = [...bars, {
								time: bar.time * 1000,
								low: bar.low,
								high: bar.high,
								open: bar.open,
								close: bar.close,
							}];
						}
					});

					onHistoryCallback(bars, {noData: true})			
				},
				subscribeBars: (symbolInfo, resolution, onRealtimeCallback, subscribeUID, onResetCacheNeededCallback) => {
					console.log('=====subscribeBars runnning')
				},
				unsubscribeBars: subscriberUID => {
					console.log('=====unsubscribeBars running')
				},
				calculateHistoryDepth: (resolution, resolutionBack, intervalBack) => {
					//optional
					console.log('=====calculateHistoryDepth running')
					// while optional, this makes sure we request 24 hours of minute data at a time
					// CryptoCompare's minute data endpoint will throw an error if we request data beyond 7 days in the past, and return no data
					return resolution < 60 ? {resolutionBack: 'D', intervalBack: '1'} : undefined
				},
				getMarks: (symbolInfo, startDate, endDate, onDataCallback, resolution) => {
					//optional
					console.log('=====getMarks running')
				},
				getTimeScaleMarks: (symbolInfo, startDate, endDate, onDataCallback, resolution) => {
					//optional
					console.log('=====getTimeScaleMarks running')
				},
				getServerTime: cb => {
					console.log('=====getServerTime running')
				}
			});
		})();

		new TradingView.widget({
			// debug: true, // uncomment this line to see Library errors and warnings in the console
			fullscreen: true,
			symbol: '{{ticker}}',
			interval: '1D',
			container: "tv_chart_container",

			//	BEWARE: no trailing slash is expected in feed URL
			datafeed: Datafeed,
			library_path: "{% static 'javascript/charting_library/' %}",
			locale: "en",
			debug: false
		});		
		
	</script>

  {%endblock%}
</html>

